@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar .btn-secondary {
    width: 120px; /* Ajusta el ancho según sea necesario */
    margin-left: auto;
    padding: 5px 1px; /* Ajusta el padding según sea necesario */
    font-size: 14px; /* Ajusta el tamaño de la fuente si es necesario */
    height: 40px; /* Ajusta la altura del botón */
    line-height: 30px; /* Ajusta la línea de altura para centrar el texto verticalmente */
    border-radius: 50px; /* Esquinas redondeadas */
    background: linear-gradient(90deg, #21325E 0%, #3E497A 100%); /* Color de fondo: de azul oscuro a azul medianoche */
    border: none; /* Quita el borde predeterminado si lo hay */
    text-align: center; /* Centra el texto dentro del botón */
    color: #F0F0F0; /* Texto en gris claro */
    display: inline-block; /* Asegúrate de que el botón ajuste su tamaño al contenido */
}

/* Estilo para la barra de navegación */
.navbar-custom {
    background-color: #a00c0c; /* Gris claro */
}

body {
    background: linear-gradient(90deg, #dfdede 0%, #ffffff 35%, #ffffff 100%);
    font-family: 'Poppins', sans-serif;
}

form {
    width: 100%;
    max-width: 400px;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
}

.btn-primary {
    width: 100%;
    border: none;
    border-radius: 50px;
    background: linear-gradient(90deg, #21325E  0%, #21325E   35%, #21325E 100%);
    color: rgb(255, 255, 255);
}

.form-control {
    color: rgba(0, 0, 0, .87);
    border-bottom-color: rgba(0, 0, 0, .42);
    box-shadow: none;
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
}

h4 {
    font-size: 2rem;
    font-weight: 700;
}

.form-label {
    font-weight: 800;
}

@media only screen and (max-width: 600px) {
    form {
        padding: 20px;
    }
}
