/* color de la pagina*/
body {
    background-color: #F0F0F0 !important; /* Gris claro */
}

/* barra de navegacion */
.navbar {
    background-color: #21325E; /* Azul oscuro */
}

/* botones de sigin/register */
.custom-btn-signin {
    background-color: #21325E !important; /* Azul oscuro */
    border-color: #F1D00A !important; /* Amarillo brillante */
    color: #F1D00A !important; /* Amarillo brillante */
}

.custom-btn-Register {
    background-color: #F1D00A !important; /* Amarillo brillante */
    border-color: #F1D00A !important; /* Amarillo brillante */
    color: #21325E !important; /* Azul oscuro */
}

/* botones sigin/register: hover */
.custom-btn-signin:hover {
    background-color: #3E497A !important; /* Azul medianoche */
    border-color: #F1D00A !important; /* Amarillo brillante */
    color: #F1D00A !important; /* Amarillo brillante */
}

.custom-btn-Register:hover {
    background-color: #3E497A !important; /* Azul medianoche */
    border-color: #3E497A !important; /* Azul medianoche */
    color: #F0F0F0 !important; /* Gris claro */
}

.fondos {
    background-color: #21325E !important; /* Azul oscuro */
}

.letras {
    color: #F1D00A !important; /* Amarillo brillante */
}

.iconos {
    width: 5rem !important;
    height: 5rem !important;
}

/* card de pagina de inicio */
.card-img {
    height: 100% !important;
    object-fit: cover !important;
} 

.card-title {
    color: #000000 !important; /* Negro */
}

.bg-customCard {
    background-color: #ffffff !important; /* Blanco */
    color: #000000 !important; /* Negro */
}

.card-text {
    text-align: justify;
    color: #000000 !important; /* Negro */
}

/* footer */
.bg-cFooter {
    background-color: #21325E !important; /* Azul oscuro */
    color: #F0F0F0 !important; /* Gris claro */
}

.card-grupo-custom a {
    color: #F0F0F0 !important; /* Gris claro */
    border: none !important;
}

.card-grupo-custom a:hover {
    color: #F1D00A !important; /* Amarillo brillante */
}