#offcanvasNavbar{
    background-color: #838383;
    color: #e9e615;
}

/* las letras de lo que muestra el navbar */

/* el color de la letra de la pagina que está activa  */
.text-custom-yellow-active{
    color: #e9e615 !important;
}

/* el color de la letra de la pagina que está inactiva */
.text-custom-yellow-non{
    color: #b6b412 !important;
}

/* su hover */
.text-custom-yellow-non:hover{
    color: #e9e615 !important;
}


/* TODO LO QUE SALE EN LA MAMADA DE DISPOSITIVOS VINCULADOS */
/* tarjetas */
#foco_name{
    color: black !important;
}
#status_foco{
    color: #a49e9e;
}

/* Aplica el estilo usando un ID para mayor especificidad */
#welcome-title {
    color: #e96615 !important; /* Usa !important para forzar el estilo ohhhh */
}