#offcanvasNavbar {
    background-color: #3E497A; /* Azul medianoche */
    color: #F1D00A; /* Amarillo brillante */
}

/* Las letras de lo que muestra el navbar */

/* El color de la letra de la página que está activa */
.text-custom-yellow-active {
    color: #F1D00A !important; /* Amarillo brillante */
}

/* El color de la letra de la página que está inactiva */
.text-custom-yellow-non {
    color: #F0F0F0 !important; /* Gris claro */
}

/* Su hover */
.text-custom-yellow-non:hover {
    color: #F1D00A !important; /* Amarillo brillante */
}

/* TODO LO QUE SALE EN LA MAMADA DE DISPOSITIVOS VINCULADOS */
/* Tarjetas */
#foco_name {
    color: #21325E !important; /* Azul oscuro */
}
#status_foco {
    color: #3f3f3f !important; /* Gris claro */
}

/* Aplica el estilo usando un ID para mayor especificidad */
#welcome-title {
    color: #F1D00A !important; /* Amarillo brillante */
}
