@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar .btn-secondary {
    width: 120px; /* Ajusta el ancho según sea necesario */
    margin-left: auto;
    padding: 5px 1px; /* Ajusta el padding según sea necesario */
    font-size: 14px; /* Ajusta el tamaño de la fuente si es necesario */
    height: 40px; /* Ajusta la altura del botón */
    line-height: 30px; /* Ajusta la línea de altura para centrar el texto verticalmente */
    border-radius: 50px; /* Esquinas redondeadas */
    background: linear-gradient(90deg, #3f3f3e 0%, #2d2d2d 100%); /* Color de fondo */
    border: none; /* Quita el borde predeterminado si lo hay */
    text-align: center; /* Centra el texto dentro del botón */
    display: inline-block; /* Asegúrate de que el botón ajuste su tamaño al contenido */
}


/* Estilo para la barra de navegación */
.navbar-custom {
    background-color: #868686; /* Gris claro */
}

body {
    background: linear-gradient(90deg, #ffffff 0%, #ffffff 35%, #ffffff 100%);
    font-family: 'Poppins', sans-serif;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */

}

form {
    border-radius: 20px;
    background-color: white !important;
    padding: 50px;
}

.btn-primary {
    width: 48%;
    border: none;
    border-radius: 50px;
    color: black;
    background: linear-gradient(90deg, #e9e615 0% 100%);
}

.btn-secondary {
    width: 48%;
    border: none;
    border-radius: 50px;
    background: linear-gradient(90deg, #838383 100%);
}

.form-control {
    color: rgba(0, 0, 0, .87);
    border-bottom-color: rgba(0, 0, 0, .42);
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
}

h4 {
    font-size: 2rem !important;
    font-weight: 700;
}

.form-label {
    font-weight: 800 !important;
}


@media only screen and (max-width: 600px) {
    form {
        width: 100% !important;
    }
}
